body {
    background-color: #21193a; 
    font-family: 'Kanit', sans-serif;
}
.e {
    color: #f4eeff;
    font-size: 32px;
    font-weight: 600;
} @media screen and (min-width: 576px){
    .e {
        font-size: 40px;
    }
} @media screen and (min-width: 968px){
    .e {
        font-size: 64px;
    }
}
.f{
    display: inline;
    color: #a881fc;
    font-size: 32px;
    font-weight: 600;
} @media screen and (min-width: 576px){
    .f {
        font-size: 40px;
    }
} @media screen and (min-width: 968px){
    .f {
        font-size: 64px;
    }
}
.d {
    display: inline;
    color: #f4eeff;
    font-size: 32px;
    font-weight: 600;
} @media screen and (min-width: 576px){
    .d {
        font-size: 40px;
    }
} @media screen and (min-width: 968px){
    .d {
        font-size: 64px;
    }
}
.t {
    color: #b8add2;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
    line-height: 110%;
    max-width: 600px;
    text-align: left;
} @media screen and (min-width: 852px) {
        .t {
            font-size: 24px;
        }
    } @media screen and (min-width: 370px) {
        .t {
            font-size: 20px;
        }
    }
#connect-wallet {
    border-radius: 16px;
    align-items: center;
    border: 0px;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.03em;
    justify-content: center;
    line-height: 1;
    height: 48px;
    background-color: #1fc7d4;
    color: #191326;
    padding: 24px;
}
#connect-wallet:hover {
    opacity: 68%;
    transition-duration: 0.2s;
}
#trade-now {
    align-items: center;
    border-width: 2px;
    border-style: solid;
    border-color: #1fc7d4;
    color: #1fc7d4;
    border-radius: 16px;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    height: 48px;
    padding: 24px;
    background-color: transparent;
    box-shadow: none;
    margin-left: 5px;
}
#trade-now:hover {
    opacity: 68%;
    transition-duration: 0.2s;
}
.home-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: fit-content;
}

.vid-rubb{
    position: absolute;
    justify-content: space-between;
    width: 50%;
}
.video {
    position: absolute;
    justify-content: space-between;
    width: 50%;
}
.svg{
    margin-top: -250px;
}
.efd {
    flex: 1;
    margin-top: 100px;
    margin-left: 80px;
    line-height: 1.2;
}

.home-body2, .home2-content {
    background: linear-gradient(180deg, #09070c 22%, #201335 100%);
    margin-top: -8px;
}

.shaping {
    color: #f4eeff;
    margin-bottom: 4px;
    text-align: center;
    line-height: 110%;
    font-weight: 600;
    font-size: 32px;
    padding-top: 100px;
}
.pancakeswap {
    color: #f4eeff;
    margin-bottom: 4px;
    text-align: center;
    line-height: 110%;
    font-weight: 600;
    font-size: 32px;
    padding-block-end: 50px;
}
.tot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    gap: 50px;
}
.tot-user {
    color: #f4eeff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 120%;
}
.nmb1 {
    color: #a881fc;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    line-height: 110%;
}
.sub1{
    color: #b8add2;
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    text-align: center;
}
.tot-trades {
    color: #f4eeff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 120%;
}
.nmb2 {
    color: #a881fc;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    line-height: 110%;
}
.sub2{
    color: #b8add2;
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    text-align: center;
}
.tot-value {
    color: #f4eeff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 120%;
}
.nmb3 {
    color: #a881fc;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    line-height: 110%;
}

