#home-4{
  background-color: #08060b;
}
.headCake{
  font-family: sans-serif;
  font-size: 100%;
  font-weight: bolder;
  background-color: #08060b;
  margin-top: -5%;
}

.calcoloDiGuadagno {
    float: left;
    width: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }
  .fornituraCircolare {
    border-right: 1px solid white;
    padding-right: 2%;
  }
  .fornituraTotale {
    border-right: 1px solid white;
    padding-left: 2%;
    padding-right: 2%;
  }
  .CapDiMercato{
    border-right: 1px solid white;
    padding-left: 2%;
    padding-right: 2%;

  }
  .BruciaturaToken{
    border-right: 1px solid white;
    padding-left: 2%;
    padding-right:2%;
  }
  .EmissioniAttuali{
    padding-left: 2%;
  }
  .CAKECifre{
    display: inline-flex;
    margin-top: 8%;
    font-size: 24px;
    margin-bottom: 2%;
  }
  .cakeD{
    display: inline-flex;
    font-size: 34px;
    color: rgb(168, 129, 252)
  }
  .titleCake{
    font-size: 20px;
    
  }
  .bloccaCAKE{
    border-radius: 16px;
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    letter-spacing: 0.03em;
    justify-content: center;
    line-height: 1;
    height: 48px;
    color: #1fc7d4;
    background-color: black;
    border: #1fc7d4 solid 1px;
    
  }
  .bloccaCAKE :hover{
    opacity: 68%;
  transition-duration: 0.2s;
  }
  .dati{
    color: rgb(168, 129, 252);
    font-size: 26px;
    font-weight: bolder;
  }
  .headCake{
    text-align: center;
  }
  .bvWImD {
    align-self: center;
    fill: #1fc7d4;
    color: #1fc7d4 var(--colors-primary);
    flex-shrink: 0;
    margin-left: 0.5rem;
    width: 20px;
}
.datiCake{
  display: flex;
  padding: 20px;
 flex-grow: 1;
 align-items: center;
 justify-content: center;
}
@media screen and (max-width: 968px) {
  .calcoloDiGuadagno{
    flex-flow: wrap;
    margin: 15px;
    width: 100%;
  }
}
.buyCake{
  border-radius: 16px;
  align-items: center;
  border: 0px;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  justify-content: center;
  line-height: 1;
  height: 48px;
  background-color: #1fc7d4;
  color: #191326;
  padding: 24px;
}
.buyCake :hover {
  opacity: 68%;
  transition-duration: 0.2s;
}
.scopriDiPiu{
  border-radius: 16px;
  align-items: center;
  border: 0px;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  justify-content: center;
  line-height: 1;
  height: 48px;
  padding: 24px;
}
.scopriDiPiu :hover{
  opacity: 68%;
  transition-duration: 0.2s;
}
.nomeDati{
  display: inline-flex;
  color: white;
  font-size: 16px;
  font-weight: bolder;
}
.moneta{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.65);
  background-color: transparent;
  z-index: 9999;
}
@media screen and (max-width: 968px) {
  .moneta{
    width: 400%;
  }
}
.svgMoneta{
 position: relative;
  height: 400px;
  overflow: hidden;

}
.staking{
  font-size: 40px;
  color: white;
  line-height: 1.5;
 
}
.arp{
  color: rgb(168, 129, 252);
  font-size: 20px;
  margin-bottom: 16px;
}
.ecosistema{
  font-size: 34px;
  display: flex;
  justify-content: flex-start;
  color: white;
  margin-bottom: 20px;
}
.partner{
  font-size: 34px;
  display: flex;
  justify-content: flex-start;
  color: white;
    margin-bottom: 20px;
}
@media screen and (max-width: 968px) {
  .partner{
    position: relative;
    top: -28%;
  }
  .ecosistema{
    position: relative;
    left: 83%;
    bottom: -30%;
    width: 8%;
  }
}
.nomeSvg{
  display: flex;
    flex-direction: column;
}
.lineaSepS{
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgb(168, 129, 252);
  
}
@media screen and (min-width: 968px){
  .lineaSepS{
  width: 1px;
  height: 40%;

}
}
@media screen and (max-width: 968px){
  .lineaSepS{
width: 0%;
  }
}

.lineaSepD{
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgb(168, 129, 252);
  
}
@media screen and (min-width: 968px){
  .lineaSepD{
  width: 1px;
  height: 40%;

}
}
@media screen and (max-width: 968px){
  .lineaSepD{
  left: 0%;
  }
}
.lineaSepSotto{
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgb(168, 129, 252);
}
@media screen and (max-width: 968px){
  .lineaSepSotto{
    position: relative;
    width: 339.5%;
    left: -120%;
    top: -350px;
   
  }
}
@media screen and (min-width: 968px){
  .lineaSepSotto{
  width: 1px;
  height: 15%;
  bottom: auto;
 left: 50%;
 bottom: -6%;
}
}
.rettangoloEcosistema{
  width: 25%;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 100px;
  height: 300px;
}

.rettangoloMoneta{
  width: 30%;
}
.rettangoloPartner{
  width: 25%;
  display: flex;
 flex-direction: row;
 height: 300px;

}
.bloccoSvg{
  display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
}
@media screen and (max-width: 968px) {
  .bloccoSvg{
    flex-direction: column;
    align-items: center;
    margin-top: -10%;
  }
}
.nomeSvg2{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  .rfm-marquee-container {
   /* overflow-x: hidden;*/
    display: flex;
    flex-direction: column;
   /* background-color: aqua;
   /* position: relative;
   /* width: var(--width);
    transform: var(--transform);*/
    overflow: hidden;
    width: 100%;
   
    align-items: center;
  }
  @media screen and (min-width: 968px) {
    .rfm-marquee-container{
    mask-image: linear-gradient(to bottom, transparent, black 80px, black calc(100% - 80px), transparent);
    }
  }

.rfm-marquee {
 /* flex: 0 0 auto;
  min-width: var(--min-width);
  z-index: 1;*/
  display: flex;
  flex-direction: column;
 /* align-items: center;
  animation: scroll var(--duration) linear var(--delay) var(--iteration-count);
  animation-play-state: var(--play);
  animation-delay: var(--delay);
  animation-direction: var(--direction);*/
  animation: moveVertical 15s linear infinite;
}
.rfm-initial-child-container {
 /* flex: 0 0 auto;*/
  display: flex;
  min-width: auto;
  flex-direction: column;
 /* align-items: center;*/
  width: 100%;
}
.bloccoSvgDaniel1{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  color: #7a6eaab3;
  background-color: #27262c;
  border-color: #7a6eaab3;
}
@keyframes moveVertical {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-100%);
  }
}
@media screen and (max-width: 968px) {
 @keyframes moveVertical {
    0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(100%);
  }
  }
  .rfm-marquee-container{
    flex-direction: row;
    position: absolute;
    left: 0%;
    mask-image: linear-gradient(to right, transparent, black 80px, black calc(100% - 80px), transparent);
    
  }
  .rfm-initial-child-container{
    flex-direction: row;
  }
  .rfm-marquee{
    flex-direction: row;

  }
  .rettangoloEcosistema{
    width: 100%;
    height: auto;
  }
  .secCar{
    position: relative;
    top: -30%;
    width: 350%;
    display: flex;
    justify-content: flex-end;
  
  }
  .priCar{
  
    bottom: -35%;
    position: relative;
    display: flex;
    justify-content: flex-end;
   
  }
}
.cFzdnc {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
  border: 1px solid ;
  box-shadow: 0px 2px 0px 0px;
  box-sizing: border-box;
  height: 40px;
  flex-grow: 0;
  width: fit-content;
  margin-bottom: 21px;
  margin-right: 16px;
}
.lbshbW {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
  border: 1px solid;
  box-shadow: 0px 2px 0px 0px;
  box-sizing: border-box;
  height: 40px;
  flex-grow: 0;
  width: fit-content;
  margin-bottom: 21px;
  margin-right: 16px;
}
.cleEew {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
  border: 1px solid;
  box-shadow: 0px 2px 0px 0px;
  box-sizing: border-box;
  height: 40px;
  flex-grow: 0;
  width: fit-content;
  margin-bottom: 21px;
  margin-right: 16px;
}
.cFGiPV {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
  border: 1px solid;
  box-shadow: 0px 2px 0px 0px;
  box-sizing: border-box;
  height: 40px;
  flex-grow: 0;
  width: fit-content;
  margin-bottom: 21px;
  margin-right: 16px;
}
.euVZBl {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
  border: 1px solid;
  box-shadow: 0px 2px 0px 0px;
  box-sizing: border-box;
  height: 40px;
  flex-grow: 0;
  width: fit-content;
  margin-bottom: 21px;
  margin-right: 16px;
}
.gPPbfk {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
  border: 1px solid;
  box-shadow: 0px 2px 0px 0px;
  box-sizing: border-box;
  height: 40px;
  flex-grow: 0;
  width: fit-content;
  margin-bottom: 21px;
  margin-right: 16px;
}
.blILXW {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
  border: 1px solid;
  box-shadow: 0px 2px 0px 0px;
  box-sizing: border-box;
  height: 40px;
  flex-grow: 0;
  width: fit-content;
  margin-bottom: 21px;
  margin-right: 16px;
}
.bFGMpe {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
  border: 1px solid;
  box-shadow: 0px 2px 0px 0px;
  box-sizing: border-box;
  height: 40px;
  flex-grow: 0;
  width: fit-content;
  margin-bottom: 21px;
  margin-right: 16px;
}
.enKPOV {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
  border: 1px solid;
  box-shadow: 0px 2px 0px 0px;
  box-sizing: border-box;
  height: 40px;
  flex-grow: 0;
  width: fit-content;
  margin-bottom: 21px;
  margin-right: 16px;
}
.hJzKM {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
  border: 1px solid;
  box-shadow: 0px 2px 0px 0px;
  box-sizing: border-box;
  height: 40px;
  flex-grow: 0;
  width: fit-content;
  margin-bottom: 21px;
  margin-right: 16px;
  

}
.euVZBl {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
  border: 1px solid;
  box-shadow: 0px 2px 0px 0px;
  box-sizing: border-box;
  height: 40px;
  flex-grow: 0;
  width: fit-content;
  margin-bottom: 21px;
  margin-right: 16px;
  
}

.cziUMh {
  font-size: small;
  color: white;
}
.rettangoloMoneta::before {
  content: "";
  position: absolute;
  margin-top: 14%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 600px;
  height: 600px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(151, 71, 255, 0.4) 0%, rgba(151, 71, 255, 0) 100%);

}
@media screen and (max-width: 968px) {
  .rettangoloMoneta::before {
   top: 100%;
  margin-top: -65%;
  }
}
.ivbptL {
  position: absolute;
  height: 128px;
  width: 1px;
  left: 50%;
  background: rgb(168, 129, 252);
  transition: transform 0.35s ease-in-out 0s;
  transform: scaleY(0);
  transform-origin: center top;
  z-index: 4;
}
@media screen and (min-width: 968px) {
      .ivbptL {
        width: 125px;
        height: 1px;
        left: 534px;
        margin-top: 113px;
        transform: scaleX(0);
        transform-origin: right center;
      }
  }
  .ivbptL.show {
    transform: scaleY(1);
  }
  @media screen and (min-width: 968px) {
        .ivbptL.show {
            transform: scaleX(1);
        }
    }
    @media screen and (max-width: 968px) {
      .ivbptL{
        left: -50%;
        position: relative;
      }
    }
    .iBJqlr {
      position: relative;
      height: 92px;
      width: 1px;
      left: 50%;
      z-index: 2;
      transition: transform 0.35s ease-in-out 0s;
      transform-origin: center top;
      transform: scaleY(0);
      background: rgb(168, 129, 252);
    }
    @media screen and (min-width: 968px) {
          .iBJqlr {
              width: 120px;
              height: 1px;
              left: -247px;
              top: 50%;
              transform-origin: left center;
              transform: scaleX(0);
          }
      }
      @media screen and (max-width: 968px){
        .iBJqlr{
          left: 0%;
        top: -30.5%;
        }
      }
      .nomeSvg2 .sc-e359916b-4{
        transform: scaleY(1);
      }
      @media screen and (min-width: 968px) {
            .nomeSvg2 .sc-e359916b-4{
                transform: scaleX(1);
            }
        }
        @media screen and (max-width: 968px) {
          .nomeSvg2{
            width: 100%;
          }
        }
body {
    background-color: #21193a; 
    font-family: 'Kanit', sans-serif;
}
.e {
    color: #f4eeff;
    font-size: 85px;
    font-weight: 600;
} 

.f{
    display: inline;
    color: #a881fc;
    font-size: 85px;
    font-weight: 600;
} 

.d {
    display: inline;
    color: #f4eeff;
    font-size: 85px;
    font-weight: 600;
    padding-left: 3%;
}

.t {
    color: #b8add2;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 24px;
    line-height: 110%;
    max-width: 600px;
    text-align: left;
}

#connect-wallet {
    border-radius: 16px;
    align-items: center;
    border: 0px;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.03em;
    justify-content: center;
    line-height: 1;
    height: 48px;
    background-color: #1fc7d4;
    color: #191326;
    padding: 24px;
}
#connect-wallet:hover {
    opacity: 68%;
    transition-duration: 0.2s;
}
#trade-now {
    align-items: center;
    border-width: 2px;
    border-style: solid;
    border-color: #1fc7d4;
    color: #1fc7d4;
    border-radius: 16px;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    height: 48px;
    padding: 24px;
    background-color: transparent;
    box-shadow: none;
    margin-left: 5px;
}
#trade-now:hover {
    opacity: 68%;
    transition-duration: 0.2s;
}
/* --------------------------???????????????????????------------------------------ */
.wave-container {
    margin-left: -1%;
    margin-right: -0.5%;
}
.home-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: fit-content;
}

.vid-rubb{
    display: block;
    position: absolute;
    justify-content: space-between;
    max-width: 43%;
    width: 100%;
}
.vid-rubb{animation: shake 7s infinite;}
@keyframes shake {
    0% { transform: translate(0, 0) rotate(0); }
    10% { transform: translate(-15px, -15px) rotate(-0deg); }
}
.video {
    position: absolute;
    justify-content: space-between;
    width: 37%;
    animation: ripple 1.5s linear infinite;
} 
.video {animation: ripple 10s linear infinite;} 
    @keyframes ripple {
        0% { transform: scale(1);}
        50% { transform: scale(1.1);}
    }
.svg{
    margin-top: -150px;
    margin-left: -20px;
} 
.efd {
    flex: 1;
    margin-top: 195px;
    margin-left: 200px;
    line-height: 1.1;
}
.home-body2, .home2-content {
    background: linear-gradient(180deg, #09070c 22%, #201335 100%);
    margin-top: -8px;
    width: 101.2%;
    margin-left: -1%;
    margin-right: -1%;
}

.shaping {
    color: #f4eeff;
    margin-bottom: 4px;
    text-align: center;
    line-height: 110%;
    font-weight: 600;
    font-size: 32px;
    padding-top: 100px;
}
.pancakeswap-home {
    color: #f4eeff;
    margin-bottom: 4px;
    text-align: center;
    line-height: 110%;
    font-weight: 600;
    font-size: 32px;
    padding-block-end: 50px;
}
.tot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    gap: 50px;
}
.tot-user {
    color: #f4eeff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 120%;
}
.nmb {
    color: #a881fc;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    line-height: 110%;
}
.sub{
    color: #b8add2;
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    text-align: center;
}
.tot-trades {
    color: #f4eeff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 120%;
}
.tot-value {
    color: #f4eeff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 120%;
}
.container-main{
    width: 100%;
    background: linear-gradient(180deg, #201335 100%, #09070c 22%);
}
.container-first { 
    width: 73%;
}
.container {
    left: 20%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    mask-image: linear-gradient(to left, transparent, black 80px, black calc(100% - 80px), transparent);
}
.slider {
    display: flex;
    max-width: 100%;
    gap: 6px;
    padding-top: 25px;     
}
.slider {animation: scroll 37s linear 0s infinite;}
     /* {animation: scroll 5s linear 0s infinite;} */
     @keyframes scroll {
     0% {
     transform: translateX(-3%);}

     100% {
    transform: translateX(-329.5%);
}}
.slide {
    padding: 8px 12px;
    border-radius: 25px;
    border: 0px;
    height: 30px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    
}
.slide-svg {
    margin-right: -10%;
    padding-top: 2%;
}
.slide-linea{
    background-color: #81d8ea;
    margin-right: 8px;
    border-radius: 25px;
    flex: 0 0 10%;
}
.slide-base {
    background-color: #75a1ff;
    margin-right: 8px;
    border-radius: 25px;
    flex: 0 0 10%;
}
.slide-bnb {
    background-color: #f0b90b;
    margin-right: 8px;
    border-radius: 25px;
    flex: 0 0 15%;
}
.slide-opbnb{
    background-color: #333333;
    margin-right: 8px;
    border-radius: 25px;
    flex: 0 0 19%;
}
.slide-aptos{
    background-color: #17ba92;
    margin-right: 8px;
    border-radius: 25px;
    flex: 0 0 11%;
}
.slide-ethereum{
    background-color: #627ad8;
    margin-right: 8px;
    border-radius: 25px;
    flex: 0 0 14%;
}
.slide-polygon{
    background-color: #ad73de;
    margin-right: 8px;
    border-radius: 25px;
    flex: 0 0 20%;
}
.slide-zksync{
    background-color: #686ea7;
    margin-right: 8px;
    border-radius: 25px;
    flex: 0 0 15%;
}
.slide-arbitrum{
    background-color: #6e89ae;
    margin-right: 8px;
    border-radius: 25px;
    flex: 0 0 18%;
}
.linea {
    color: #191326;
    line-height: 1.5;
    margin-left: 10px;
    font-weight: 600;
    font-size: 20px;
}
.base {
    color: #191326;
    line-height: 1.5;
    margin-left: 10px;
    font-weight: 600;
    font-size: 20px;
}
.bnb {
    color: #191326;
    line-height: 1.5;
    margin-left: 10px;
    font-weight: 600;
    font-size: 20px;
}
.opbnb{
    color: rgb(240, 185, 11);
    line-height: 1.5;
    margin-left: 10px;
    font-weight: 600;
    font-size: 20px;
}
.aptos {
    color: #191326;
    line-height: 1.5;
    margin-left: 10px;
    font-weight: 600;
    font-size: 20px;
}
.ethereum {
    color: #191326;
    line-height: 1.5;
    margin-left: 10px;
    font-weight: 600;
    font-size: 20px;
}
.polygon {
    color: #191326;
    line-height: 1.5;
    margin-left: 10px;
    font-weight: 600;
    font-size: 20px;
}
.zksync {
    color: #191326;
    line-height: 1.5;
    margin-left: 10px;
    font-weight: 600;
    font-size: 20px;
}
.arbitrum {
    color: #191326;
    line-height: 1.5;
    margin-left: 10px;
    font-weight: 600;
    font-size: 20px;
}
.slide-svg {
    padding-right: 10%;
    margin-top: 2%;
}
.container-svg-border {
    display: flex;
}
.svg-yellow {
    width: 100%;
    flex: 1 0 103.3%;
    /* margin-top: -150%; */
}
.svg-purple {
    width: 100%;
}
.img-yellow {
    position: absolute;
    width: 10%;
    margin-top: -15%;
}
.img-purple {
    position: absolute;
    width: 8%;
    margin-left: 16.8%;
    margin-top: -20%;
} 
 .img-green {
    position: absolute;
    width: 6%;
    margin-top: -20%;
    margin-left: 10%;
}
/* NAVBAR---------------------------------------------------------------------------- */
nav {
    font-family: 'Kanit', sans-serif;
}
.contentNavbar {
    border: 0px;
    padding: 0.6%;
    background-color: hsl(250, 7%, 16%);
    margin-top: -0.5%;
    margin-left: -0.51%;
    /* margin-right: -0.45%; */
    display: flex;
    align-items: center;
    width: 99.45%;
}
/* ELEMENTI LINK */
.component {
    padding-left: 2.5%;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #b8add2;
}
.dropdown {
    display: none;
    position: absolute;
    background-color: #27262c;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.drpdwn {
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: #b8add2;
}
.trade-drpdwn:hover .dropdown {
    display: flex;
    flex-direction: column;
}
.trade-drpdwn {
    padding-left: 2.3%;
    padding-top: 0.2%;
}
.dropdown {
    border-radius: 15px;
    width: 17%;
    margin-left: -0.4%;
    position: absolute;
    z-index: 2;
}
.drpdwn:hover {
    background-color: #27262c;
}
/* SVG NAVBAR */
.points-svg {
    fill: #b8add2;
    display: flex;
    align-items: center;
}
.rabbit-svg {
    fill: #39383f;
}
.pancakeswap {
    width: 15%;
    fill: white;
}
.svg-navbar {
    position: relative;
    display: flex;
    align-items: center;
}
/* EVIDENZIATURA SULL'HOVER DEGLI ELEMENTI */
.trade:hover, .earn:hover, .game:hover, .nft:hover {
    background-color:  #39383f ;
    opacity: 1;
    border-radius: 10px;
    padding: 5px;
    margin-left: -5px; 
    margin-right: -5px;
}
.drpdwn:hover {
    background-color:  #39383f ;
    opacity: 1;
    border-radius: 10px;
}
/* LATO DESTRA */
.component-otherSide {
    display: flex;
    width: 50%;
    /* justify-content: space-between; */
}
/* TRANSITION RUBBIT CIRCLE ---------------------*/
.navbar-circle:hover {
    width: 28px;
    transition: 0.3s ease;
}
.navbar-circle {
    width: 24px;
    margin-left: -4%;
    position: absolute;
}
.dollar-navbar {
    color: #b8add2;
    font-weight: 600;
    margin-left: -5%;
}
/* TRE SVG DOPO DOLLARI */
.container-svg-right {
    display: flex;
    margin-left: 2%;
    fill: #b8add2;
}
.svg-right{
    padding-left: 20px;
}
.navbar-leng {
    display: flex;
    width: 24px;
    fill: #b8add2;
}
.navbar-leng:hover, .impostazioni:hover{
    fill: #827993;
    transition: 0.3s ease;
    cursor: pointer;
}
.notifica {
    cursor: pointer;
}
/* MENU TENDINA LINGUE */
.leng-comp {
    display: none;
    position: absolute;
    background-color: #27262c;
    overflow-y: scroll;
    height: 50%;
    border-radius: 4px;
    position: absolute;
    z-index: 2;
}
.leng-comp{
    margin-left: -4%;
    width: 13%;
}
.leng-comp::-webkit-scrollbar{
    color: #b8add2;
    width: 8px;
    background-color:#35313c ;
}
.leng-comp::-webkit-scrollbar-thumb {
    background-color: #888; /* Colore del pulsante di scorrimento */
    border-radius: 5px;
}
.class-leng {
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 600;
    padding: 3px;
    text-align: center;
}
.main-leng:hover .leng-comp {
    display: flex;
    flex-direction: column;
}
.main-leng {
    padding-left: 2.3%;
    padding-top: 0.2%;
}
.class-leng:hover {
    color: #807992;
}
/* BNB IMG E MENU A TENDINA */
.bnb-navbar {
    margin-left: 20%;
    margin-top: -2%;
}
.bnb-navbar-content{
    background-color: #423e4b;
    width: 150px;
    margin-top: -1%;
    border-radius: 15px;
    display: flex;
}
.bnb-navbar-content:hover {
    background-color: #4b455452;
    opacity: 1;
    cursor: pointer;
}
.text-bnb:hover{
    color: rgba(255, 255, 255, 0.568);
}
.bnb-img {
    display: flex;
    width: 30px;
    /* justify-content: center; */
    /* margin-left: %; */
}
.bnb-text {
    text-align: center;
    padding-left: 4%;
    margin-top: 1.2%;
}
.text-bnb {
    font-weight: 600;
    color:white;
    font-size: 17px;
}
.text-bnb-media {
    display: none;
}
.pointer-nb {
    fill: white;
    align-items: center;
}
/* BUTTON NAVBAR */
.btn-div-nb {
    padding-left: 7%;
    display: flex;
    margin-top: -0.5%;
}
.button-nb {
    position: relative;
    background-color:#1fc7d4;
    color: #191326;
    font-size: 16px;
    padding-left: 17px;
    padding-right: 17px;
    font-weight: 600;
    align-items: center;
    height: 30px;
    border-radius: 15px;
    border: 0px;
    font-family: inherit;
    justify-content: center;
    white-space: nowrap;
    max-width: 100%;
    width: auto;
}
.button-media {
    display: none;
}
.button-nb:hover {
    background-color: #147f86;
    cursor: pointer;
}
@media screen and (min-width: 168px) and (max-width:568px) {
    .e {
        font-size: 40px;
    }
    .f {
        font-size: 40px;
    }
    .d {
        font-size: 40px;
    }
    .t {
        font-size: 20px;
        text-align: center;
    }
    .efd {
        text-align: center;
        margin-left: 22px;
        margin-top: 70%;
        }
    .vid-rubb {
        margin-left: -65%;
        margin-top: -7%;
        width: 65%;
        height: 35%;
    }
    .video {
        margin-left: -70%;
        margin-top: -30%;
        width: 45%;
        height: 65%;
    }
    .wave-container {
        margin-left: -2%;
        margin-right: -1.5%;
    }
    .home-body{
        margin-top: -8%;
        height: 100%;
        width: 100%;
    }
    .shaping {
        font-size: 20px;
    }
    .pancakeswap-home {
        font-size: 20px;
    }
    .tot-container {
        flex-direction: column;
        gap: 30px;
    }
    .tot-user {
        font-size: 15px;
    }
    .tot-trades {
        font-size: 15px;
    }
    .tot-value {
        font-size: 15px;
    }
    .nmb {
        font-size: 30px;
    }
    .sub {
        font-size: 13px;
    }
    .word {
        font-size: 15px;
    }
    .svg-yellow {
        display: none;
    }
    .svg-green {
        display: none;
    }
    .svg-purple {
        display: none;
    }
    .word {
        font-size: 17px;
    }
    .slide {
        padding: 6px 12px;
        border-radius: 25px;
        border: 0px;
        height: 23px;
        margin-right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1%;
        margin-right: 4px;
        border-radius: 25px;
    }
    .slide-svg {
        margin-top: 5px;
    }
    .slide-linea{
        background-color: #81d8ea;
        flex: 0 0 10%;
    }
    .slide-base {
        background-color: #75a1ff;
        flex: 0 0 10%;
    }
    .slide-bnb {
        background-color: #f0b90b;
        flex: 0 0 28%;
    }
    .slide-opbnb{
        background-color: #333333;
        flex: 0 0 32%;
    }
    .slide-aptos{
        background-color: #17ba92;
        flex: 0 0 11%;
    }
    .slide-ethereum{
        background-color: #627ad8;
        flex: 0 0 14%;
    }
    .slide-polygon{
        background-color: #ad73de;
        flex: 0 0 36%;
    }
    .slide-zksync{
        background-color: #686ea7;
        flex: 0 0 30%;
    }
    .slide-arbitrum{
        background-color: #6e89ae;
        flex: 0 0 35%;
    }
    .slider {
        display: flex;
        max-width: 100%;
        gap: 6px;           
    }
    .slider {animation: scroll 27s linear 0s infinite;}
     @keyframes scroll {
     0% {
     transform: translateX(-3%);}

     100% {
    transform: translateX(-300%);
}}
    .container {
       left: 1%;
       display: flex;
       flex-direction: row;
       overflow: hidden;
       position: relative;
       mask-image: linear-gradient(to left, transparent, black 80px, black calc(100% - 80px), transparent);
}   
    .container-first { 
       width: 100%;
}
.home-body2, .home2-content {
    background: linear-gradient(180deg, #09070c 22%, #201335 100%);
    margin-top: -8px;
    width: 101.8%;
    margin-left: -1%;
    margin-right: -1%;
}
/* MEDIA NAVBAR */
.contentNavbar {
    border: 0px;
    padding: 2%;
    background-color: hsl(250, 7%, 16%);
    margin-top: -2%;
    margin-left: -1.2%;
    /* margin-right: -0.45%; */
    display: flex;
    align-items: center;
    width: 98.7%;
}
.svg-navbar > .pancakeswap{
    display: none;
}
.pancakeswap{
    display: flex;
}
.pancakeswap {
    width: 185px;
    margin-top: 5% ;
}
.trade-drpdwn {
    display: none;
}
.navbar-circle, .dollar-navbar {
    display: none;
}
.container-svg-right {
    display: flex;
    margin-top: 2%;
    margin-left: -20%;
    fill: #b8add2;
}
.leng-comp {
    display: none;
    position: absolute;
    background-color: #27262c;
    overflow-y: scroll;
    height: 50%;
    border-radius: 4px;
    position: absolute;
    z-index: 2;
    width: 30%;
    margin-left: -8%;
}
.bnb-navbar {
    margin-left: 10%;
    margin-top: 2%;
}
.bnb-navbar-content{
    background-color: #423e4b;
    width: 50px;
    margin-top: 5%;
    border-radius: 15px;
    display: flex;
}
.text-bnb {
    display: none;
}
.btn-div-nb {
    padding-left: 7%;
    display: flex;
    margin-top: -0.5%;
}
.button-nb{
    display: none;
}
.button-media{
    display: flex;
    margin-top: 4%;
}
}
@media screen and (min-width:569px) and (max-width:1024px)  {
  .e {
    font-size: 60px;
  }
  .f {
    font-size: 60px;
  }
  .d {
    font-size: 60px;
  }
  .t {
    padding-top: 10px;
    font-size: 24px;
    width: 75%;
  }
  .efd {
    margin-left: 6%;
    margin-top: 38%;
  }
  .vid-rubb {
    width: 55%;
    margin-left: -10%;
    margin-top: 7%;
  }
  .video {
    width: 51%;
    margin-left: -17%;
    margin-top: 10%;
    height: 58%;
  }
  .home-body {
    width: 70%;
    margin-top: -10%;
  }
  .shaping {
    margin-top: -8px;
  }
  .img-purple {
    display: none;
  }
  .img-green {
    display: none;
  }
  .img-yellow {
    display: none;
  }
  .word {
    font-size: 15px;
}
.svg-yellow {
    display: none;
}
.svg-green {
    display: none;
}
.svg-purple {
    display: none;
}
.word {
    font-size: 17px;
}
.slide {
    padding: 10px 12px;
    border-radius: 25px;
    border: 0px;
    height: 23px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    margin-right: 4px;
    border-radius: 25px;
}
.slide-svg {
    margin-top: 5px;
}
.slide-linea{
    background-color: #81d8ea;
    flex: 0 0 10%;
}
.slide-base {
    background-color: #75a1ff;
    flex: 0 0 10%;
}
.slide-bnb {
    background-color: #f0b90b;
    flex: 0 0 22%;
}
.slide-opbnb{
    background-color: #333333;
    flex: 0 0 25%;
}
.slide-aptos{
    background-color: #17ba92;
    flex: 0 0 11%;
}
.slide-ethereum{
    background-color: #627ad8;
    flex: 0 0 14%;
}
.slide-polygon{
    background-color: #ad73de;
    flex: 0 0 26%;
}
.slide-zksync{
    background-color: #686ea7;
    flex: 0 0 21%;
}
.slide-arbitrum{
    background-color: #6e89ae;
    flex: 0 0 25%;
}
.slider {
    display: flex;
    max-width: 100%;
    gap: 6px;           
}
.slider {animation: scroll 47s linear 0s infinite;}
     /* {animation: scroll 5s linear 0s infinite;} */
     @keyframes scroll {
     0% {
     transform: translateX(-3%);}

     100% {
    transform: translateX(-400%);
}}
.container {
    left: 5%;
}
.container-first { 
    width: 90%;
}
.contentNavbar {
    border: 0px;
    padding: 2%;
    background-color: hsl(250, 7%, 16%);
    margin-top: -1%;
    margin-left: -1.2%;
    /* margin-right: -0.45%; */
    display: flex;
    align-items: center;
    width: 97.9%;
    height: 3vh;
}
.svg-navbar > .pancakeswap{
    display: none;
}
.pancakeswap{
    display: flex;
}
.pancakeswap {
    width: 200px;
    position: absolute;
    /* margin-right: -220%; */
}
.navbar-circle, .dollar-navbar {
    display: none;
}
.text-bnb {
    display: none;
}
.text-bnb-media {
    display: flex;
    font-weight: 600;
    color:white;
    font-size: 17px;
}
.bnb-navbar-content{
    background-color: #423e4b;
    width: 100px;
    margin-top: -1%;
    border-radius: 15px;
    display: flex;
}
.trade-drpdwn {
    margin-left: 5%;
}
.button-nb{
    display: none;
}
.button-media{
    display: flex;
    margin-right: 35px;
}
}
/* PROVA SWIPER */
.swiper-container {
    width: 100%; /* Imposta la larghezza dello swiper */
    max-width: 900px; /* Imposta la larghezza massima dello swiper */
    height: 25vh;
    margin: 0 auto;
    border: 0px solid;
    border-radius: 20px; 
    overflow: hidden;
    position: relative;
    /* overflow: visible; */
  }
  .swiper-pagination{
    display: none;
  }
  .main-swiper{
    padding-top: 5%;
  }
  .container-swp-1{
    width: 100%;
    background-image: url("https://assets.pancakeswap.finance/web/banners/multichain/bg-desktop.png");
    background-repeat: no-repeat;
    background-size: auto 100%; 
    background-position: right;
    background-color: hsla(211, 100%, 60%, 0.753);
  }
  .content-swiper{
    width: 100%;
  }
.svg-swiper-ps {
    position: absolute;
    width: 15%;
    margin-left: 3%;
    margin-top: 1.5%;
    fill: white;
}
  .swiper-slide-1 {
    display: flex;
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    text-shadow: #FFB327;
    flex-direction: column;
  }
.container-pmc > .pmc {
    display: flex;
    flex-direction: column;
    font-size: 27px;
    margin-top: 9%;
    margin-left: 6%;
    padding: -1%;
    line-height: 1.1;
    color:#FFB327;
    text-shadow: 
    -1px -1px 0 rgb(128, 42, 33),
     1px -1px 0 rgb(128, 42, 33),
    -1px  1px 0 rgb(128, 42, 33),
     1px  1px 0 rgb(128, 42, 33);
}
.pmc, .sm1oip{
    white-space: nowrap;
}
.container-pmc > .sm1oip {
    margin-left: 6%;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
    color: white;
}
.container-pmc {
    padding:4%;
}
.part1 {
    margin-left: 10%;
    color: white;
    font-weight: 500;
    display: flex;
}
.cont-freccia {
    margin-top: 1.2%;
    padding-left: 1%;
    fill: white;
}
.svg-swiper-ps-2 {
    position: absolute;
    width: 15%;
    margin-left: 68%;
    margin-top: 1.5%;
    fill: black;
}
.jtmtc, .win7 {
    margin-left: 68%;
}
.swiper-slide-2 {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    /* background-color: #ffc700; */
}
/* FINE PROVA BOZZA */
/* FOOTER */
/* Stili per il corpo della pagina */
.body-footer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%; /* Per simulare il posizionamento del footer, da togliere nel progetto effettivo */
    margin: 0;
    padding-top:0;
    font-family: "Kanit", sans-serif;
}

/* Personalizzazione della schrollbar fonte W3School */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #27262c; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b8add2;
    border-radius: 20px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b8add2;
    border-radius: 20px; 
  }

/* Stili per il footer */
footer {
    background-color: #27262c;
    color: #f4eeff;
    padding: 4rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra gli elementi lungo l'asse principale */
    align-items: center; /* Centra gli elementi lungo l'asse trasversale */
    gap: 2rem;
}
/* Stili per ciascuna lista */
footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: fit-content; 
}

footer > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap; 

}

/* Stili per i link */
footer ul li a {
    text-decoration: none;
    color: #f4eeff;
}
footer ul li a:hover {
    text-decoration: underline;
    color: #f4eeff;
}
/* Stili per il titolo del footer */
.footer--title {
    color: #a881fc;
    text-transform: uppercase;
    font-weight: bold;
    /*  margin-bottom: 20px;Aggiunge spazio sotto il titolo__ non serve */
}



/* Stili per le icone */
.footer-icons {
    display: flex;
    gap: 1rem;
   /* margin-bottom: 20px;  Aggiunge spazio sotto l'insieme di icone__ non serve */
}
.footer-icons img {
    width: 30px; /* Imposta la larghezza dell'icona */
    height: auto; /* Imposta l'altezza in modo automatico per mantenere l'aspect ratio */
}


.footer_container_list {
    list-style-type: none;
    display: flex;
    flex-direction: column;   
    gap: 2px;
}
.footer_container_list--icons {
    list-style-type: none;
    display: flex;  
    gap: 1rem;
}

/* Stili per il menÃ¹ delle lingue */
.language-menu {
    position: relative;
    display: inline-block;
}

.language-menu-content {
    display: none;
    position: absolute;
    background-color: #27262c;
    min-width: 160px;
    max-height: 300px;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    overflow-y: auto;
    z-index: 1;
    bottom: 25px;
    padding: 15px;
}

.language-menu-content a {
    color: #f4eeff;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.language-menu-content a:hover {    
    text-decoration: underline; 
}
.language-menu:hover .language-menu-content {
    display: block;
}

.scrittapancka{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.cont-leng-checkbox {
    display: flex;
    order: 2;
    align-items: center;
}
.container-checkbox {
    align-items: center;
    background-color: #666171;
    border-radius: 24px;
    /* box-shadow: inset 0px 2px 2px -1px rgba(74,74,104,.1) */
    cursor: pointer;
    display: inline-flex;
    height: 32px;
    position: relative;
    transition: background-color 200ms ease 0s;
    width: 58px;
    margin-left: -100%;

}
.checkbox-theme{
    cursor: pointer;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 3;
    -webkit-font-smoothing: antialiased;
}
input[type="checkbox" ] {
    background-color: initial;
    appearance: auto;
    margin: 3px 3px 3px 4px;
    display: none;
}
.checkbox-theme:checked, .div-cb-1 {
    left: calc(100% - 30px);
}
.div-cb-1{
    background-color: #27262c;
    border-radius: 50px;
    cursor: pointer;
    height: 26px;
    position: absolute;
    top: 3px;
    transition: left 200ms ease-in 0s;
    width: 26px;
    z-index: 1;
}
.div-cb-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.moon1 {
    align-self: center;
    fill: #a881fc;
    color: #a881fc;
    flex-shrink: 0;
    margin-top: 8%;
}
@supports(-webkit-text-size-adjust:none) and (not (-ms-accelerator:true)) and (not (-moz-appearance:none)){
     .drEBnz {
        filter: none;
     }
}
.div-cb-3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
.sole, .moon2 {
    align-self: center;
    fill: #27262c;
    color: #27262c;
    z-index: 0;
}
.cont-main-cb {
    display: flex;
    align-items: center;
}
.main-cont-cb {
    display: flex;
    justify-content: space-between;
    order: 1;
    flex-direction: row;
    width: 100%;
    margin-top: 50%;
    margin-left: -75%;
}
.world-cont-foot {
    display: flex;
    align-content: center;
    flex-direction: row ;
    margin-top: 5%;
    margin-left: 10%;
}
.wolrd-leng-foot{
    fill: #a881fc;
    cursor: pointer;
}
.en  {
    color: #a881fc;
    text-decoration: none;
}
.main-right-foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 1;
    margin-left: 55%;
    position: absolute;
}
.conteiner-right-foot{
    margin-right: 20%;
}
.dolar-foo{
    margin-top: -4%;
    font-weight: 600;
    color: #b392fc;
    margin-left: -15%;
}
.svg-footer-crcl:hover {
    width: 28px;
    transition: 0.5s;
    margin-left: -5%;
}
.btn-footer {
    display: flex;
    position: relative;
    background-color:#1fc7d4;
    color: #191326;
    font-size: 16px;
    padding-left: 17px;
    padding-right: 17px;
    font-weight: 600;
    align-items: center;
    height: 30px;
    border-radius: 15px;
    border: 0px;
    font-family: inherit;
    justify-content: center;
    white-space: nowrap;
    max-width: 100%;
    width: auto;
}
.btn-footer:hover {
    background-color: #147f86;
    cursor: pointer;
}
.svg-btn-foot {
    fill: #191326;

}
.btn-footer-container{
    padding-left: 10%;
    margin-top: -3%;
}
/* MENU LINGUA A TENDINA */
.leng-comp-footer {
    display: none;
    position: absolute;
    background-color: #27262c;
    overflow-y: scroll;
    height: 40%;
    border-radius: 4px;
    position: absolute;
    z-index: 2;
    bottom: 9%;
}
.leng-comp-footer{
    margin-left: -4%;
    width: 13%;
}
.leng-comp-footer::-webkit-scrollbar{
    color: #b8add2;
    width: 8px;
    background-color:#35313c ;
}
.leng-comp-footer::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}
.wolrd-leng-foot:hover .leng-comp-footer {
    display: flex;
    flex-direction: column;
}
.wolrd-leng-foot {
    padding-left: 2.3%;
    padding-top: 0.2%;
}
.class-leng-footer{
    text-align: center;
    font-weight: 600;
}
.class-leng-footer:hover {
    color: #807992;
    text-decoration: none;
}
/* MENU A TENDINA LINGUE FINE */
.line-separated{
    border: 1px solid #423e4b ;
    width: 60%;
    margin-top: 1%;
    position: absolute;
}
.container-line-ft {
    display: flex;
    width: 100%;
}

.leng-comp-telegram {
    display: none;
    position: absolute;
    background-color: #27262c;
    overflow-y: scroll;
    height: 150%;
    /* padding-left: 100%; */
    border-radius: 4px;
    position: absolute;
    z-index: 2;
    bottom: 100%;
}
.leng-comp-telegram{
    margin-left: -20%;
    height: 250%;
    /* padding-left: -10%; */
}
.leng-comp-telegram::-webkit-scrollbar{
    color: #b8add2;
    width: 8px;
    background-color:#35313c ;
}
.leng-comp-telegram::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}
.tele-paesi-foot:hover .leng-comp-telegram {
    display: flex;
    flex-direction: column;
}
.tele-paesi-foot {
    padding-left: 2.3%;
    padding-top: 0.2%;
}
.class-leng-telegram{
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.class-leng-telegram:hover {
    color: #807992;
    text-decoration: none;
}
/* FINE FOOTER */
@media screen and (min-width: 168px) and (max-width:568px){
    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* height: 40%; */
        margin: 0;
        padding-left: 25%;
        padding-top: 10%;
        /* width: 70%; */
        width: 56%;
        font-family: "Kanit", sans-serif;
        overflow-x: hidden;
    }
    .conteiner-right-foot{
        margin-top: 100%;
    }
    .line-separated {
        display: none;
    }
    .btn-footer-container{
    display: none;
    }
    .main-right-foot{
        display: none;
    }
}
/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
  }*/
  
  .ecosvg {
    align-self: center;
    fill: #f4eeff;
    color: #f4eeff;
    flex-shrink: 0;
    margin-bottom: 24px;
    margin-left: 20%;
  }
  
  .ecotext {
    font-weight: 400;
    line-height: 1.5;
    padding: 0px 20px;
    text-align: center;
    font-size: 16px;
    margin-left: 20%;
  }
  
  /*body img {
    height: auto;
    max-width: 100%;
  }*/
  
  /*img {
    overflow-clip-margin: content-box;
    overflow: clip;
  }*/
  
  * {
    font-family: "Kanit", sans-serif;
  }
  
  /**,
  ::before,
  ::after {
    box-sizing: border-box;
  }
  
  body {
    line-height: 1;
    font-size: 16px;
  }
  
  .display {
    display: flex;
  }
  
  div {
    display: block;
    unicode-bidi: isolate;
  }*/
  
  element.style {
    margin: 0px;
    width: 100%;
    padding: 0px 16px;
  }
  
  .eco-middle {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .ecosystem {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0px;
    top: 0px;
  }
  
  .eco-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .eco-padding {
    padding-top: 60px;
  }
  
  .ecosy /*importante*/ {
    border-radius: 24px;
    background: linear-gradient(139.73deg, #313d5c, #3d2a54);
    width: 100%;
    box-sizing: border-box;
    padding: 48px 24px 24px;
    min-height: 360px;
    margin-top: 48px;
    margin-left: 20%;
  }
  
  * {
    color: #f4eeff;
  }
  
 /* img {
    overflow-clip-margin: content-box;
    overflow: clip;
  }*/
  
  .ecosy-back {
    background: #08060b;
    padding: 48px 0px;
  }
  
  .ecoSection.type-a {
    height: 246px;
  }
  
  .ecoSection {
    justify-content: space-between; 
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
    padding: 4px;
    width: 141.6px;
    height: 286px;
  
  }
  
  .all-encasing {
    display: flex;
  }
  
  .main-clss {
    text-align: center;
  }
  
  .dsply {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .eco-tw {
    color: #f4eeff;
    font-weight: 600;
    font-size: 32px;
    line-height: 110%;
    display: inline-block;
    text-align: center;
  }
  
  .eco-tp {
    color: #a881fc;
    font-weight: 600;
    margin-left: 8px;
    font-size: 32px;
    line-height: 110%;
    display: inline-block;
    text-align: center;
  }
  
  .eco-first {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .eco-second {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  
  .ecobox-icon {
    position: relative;
    left: -15px;
  }
  
  .ecobox-icon .default {
    display: none;
  }
  
  /* .ecobox-icon {
    position: relative;
    transition: filter 0.25s linear 0s;
  } */
  
  .card-tit {
    color: #f4eeff;
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 110%;
    font-weight: 500;
    text-align: left;
  }
  
  .ecobox-text {
    color: #f4eeff;
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    text-align: left;
    margin-right: 2px;
  }
  
  .ecoSection .cta > * {
    transition: color 0.25s ease-in-out 0s;
  }
  
  .ecoArrow {
    color: #b8add2;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 600;
    margin: 10%;
    text-align: left;
    white-space: nowrap;
    margin-left: -3px;
  }
  
  .ecoArrow:hover {
    color: #1fc7d4;
  }
  
  .eco-arrow {
    align-self: center;
    fill: #b8add2;
    color: #b8add2;
    flex-shrink: 1;
  }
  
  svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
  }
  
  .eco-padding {
    padding-top: 60px;
  }
  
  .ecosyBoxT {
    font-size: 32px;
    margin-bottom: 24px;
    font-weight: 600;
    line-height: 110%;
    padding-left: 12px;
    color: #a881fc;
    text-align: left;
  }
  
  .ecosybox {
    display: flex;
    flex-direction: column;
  }
  
  .ecosybox-sub {
    gap: 24px;
    width: 804px;
    height: 286px;
  }
  
  .sigh {
    gap: 110px;
    margin-left: 2px;
    margin-right: 2px;
  }
  
  #home-4 .inner-wedge svg {
    fill: #201335;
  }
  
  .ecosy_svg {
    position: absolute;
    display: flex;
    width: 100%;
    top: 0px;
  }
  
  .ecosy_svg svg {
    fill: #08060b;
    width: 100%;
    height: 100%;
    max-height: 48px;
  }
  
  .ecosy_svg2 {
    align-self: center;
    fill: white;
    color: white;
    flex-shrink: 0;
  }
  
  @media screen and (min-width: 1200px) {
    .ecosy {
      width: 1152px;
    }
    .ecosybox-sub {
      flex-wrap: nowrap;
    }
    .ecoSection {
      flex-wrap: nowrap;
    }
    .ecoSection.type-a {
      flex-basis: 20%;
    }
  }
  
  @media screen and (min-width: 1080px) {
    .ecoSection.type-a {
      height: 286px;
    }
    .ecoSection.type-a.higher {
      height: 292px;
    }
    .ecoSection.type-a.higher.adjust-height {
      margin-top: 0px;
      height: 292px;
  }
  }
  
  @media screen and (min-width: 968px) {
    .ecobox-icon .default {
      display: block;
      position: relative;
      z-index: 1;
    }
    .ecobox-icon .hover {
      transition: opacity 0.25s ease-in-out 0s;
      position: absolute;
      top: 0px;
      left: 0px;
      opacity: 0;
      z-index: 2;
    }
  }
  
  @media screen and (min-width: 852px) {
    .eco-tp {
      font-size: 40px;
    }
    .eco-tw {
      font-size: 40px;
    }
  }
  
  @media screen and (min-width: 576px) {
    .ecoSection.type-a {
      flex-basis: calc(33.3% - 48px);
    }
    .ecoSection {
      padding: 12px;
    }
  }
