html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 100%;
  vertical-align: baseline;
}

.ecosvg {
  align-self: center;
  fill: #f4eeff;
  color: #f4eeff;
  flex-shrink: 0;
  margin-bottom: 24px;
  margin-left: 20%;
}

.ecotext {
  font-weight: 400;
  line-height: 1.5;
  padding: 0px 20px;
  text-align: center;
  font-size: 16px;
  margin-left: 20%;
}

body img {
  height: auto;
  max-width: 100%;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

* {
  font-family: "Kanit", sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  line-height: 1;
  font-size: 16px;
}

.display {
  display: flex;
}

div {
  display: block;
  unicode-bidi: isolate;
}

element.style {
  margin: 0px;
  width: 100%;
  padding: 0px 16px;
}

.eco-middle {
  max-width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.ecosystem {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0px;
  top: 0px;
}

.eco-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.eco-padding {
  padding-top: 60px;
}

.ecosy /*importante*/ {
  border-radius: 24px;
  background: linear-gradient(139.73deg, #313d5c, #3d2a54);
  width: 100%;
  box-sizing: border-box;
  padding: 48px 24px 24px;
  min-height: 360px;
  margin-top: 48px;
  margin-left: 20%;
}

* {
  color: #f4eeff;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.ecosy-back {
  background: #08060b;
  padding: 48px 0px;
}

.ecoSection.type-a {
  height: 246px;
}

.ecoSection {
  justify-content: space-between; 
  flex-direction: column;
  gap: 12px;
  cursor: pointer;
  padding: 4px;
  width: 141.6px;
  height: 286px;

}

.all-encasing {
  display: flex;
}

.main-clss {
  text-align: center;
}

.dsply {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.eco-tw {
  color: #f4eeff;
  font-weight: 600;
  font-size: 32px;
  line-height: 110%;
  display: inline-block;
  text-align: center;
}

.eco-tp {
  color: #a881fc;
  font-weight: 600;
  margin-left: 8px;
  font-size: 32px;
  line-height: 110%;
  display: inline-block;
  text-align: center;
}

.eco-first {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.eco-second {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.ecobox-icon {
  position: relative;
  left: -15px;
}

.ecobox-icon .default {
  display: none;
}

/* .ecobox-icon {
  position: relative;
  transition: filter 0.25s linear 0s;
} */

.card-tit {
  color: #f4eeff;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 110%;
  font-weight: 500;
  text-align: left;
}

.ecobox-text {
  color: #f4eeff;
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  text-align: left;
  margin-right: 2px;
}

.ecoSection .cta > * {
  transition: color 0.25s ease-in-out 0s;
}

.ecoArrow {
  color: #b8add2;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 600;
  margin: 10%;
  text-align: left;
  white-space: nowrap;
  margin-left: -3px;
}

.ecoArrow:hover {
  color: #1fc7d4;
}

.eco-arrow {
  align-self: center;
  fill: #b8add2;
  color: #b8add2;
  flex-shrink: 1;
}

svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}

.eco-padding {
  padding-top: 60px;
}

.ecosyBoxT {
  font-size: 32px;
  margin-bottom: 24px;
  font-weight: 600;
  line-height: 110%;
  padding-left: 12px;
  color: #a881fc;
  text-align: left;
}

.ecosybox {
  display: flex;
  flex-direction: column;
}

.ecosybox-sub {
  gap: 24px;
  width: 804px;
  height: 286px;
}

.sigh {
  gap: 110px;
  margin-left: 2px;
  margin-right: 2px;
}

#home-4 .inner-wedge svg {
  fill: #201335;
}

.ecosy_svg {
  position: absolute;
  display: flex;
  width: 100%;
  top: 0px;
}

.ecosy_svg svg {
  fill: #08060b;
  width: 100%;
  height: 100%;
  max-height: 48px;
}

.ecosy_svg2 {
  align-self: center;
  fill: white;
  color: white;
  flex-shrink: 0;
}

@media screen and (min-width: 1200px) {
  .ecosy {
    width: 1152px;
  }
  .ecosybox-sub {
    flex-wrap: nowrap;
  }
  .ecoSection {
    flex-wrap: nowrap;
  }
  .ecoSection.type-a {
    flex-basis: 20%;
  }
}

@media screen and (min-width: 1080px) {
  .ecoSection.type-a {
    height: 286px;
  }
  .ecoSection.type-a.higher {
    height: 292px;
  }
  .ecoSection.type-a.higher.adjust-height {
    margin-top: 0px;
    height: 292px;
}
}

@media screen and (min-width: 968px) {
  .ecobox-icon .default {
    display: block;
    position: relative;
    z-index: 1;
  }
  .ecobox-icon .hover {
    transition: opacity 0.25s ease-in-out 0s;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: 2;
  }
}

@media screen and (min-width: 852px) {
  .eco-tp {
    font-size: 40px;
  }
  .eco-tw {
    font-size: 40px;
  }
}

@media screen and (min-width: 576px) {
  .ecoSection.type-a {
    flex-basis: calc(33.3% - 48px);
  }
  .ecoSection {
    padding: 12px;
  }
}